*{
    scroll-behavior: smooth;
}



.navbar{
   position: absolute;
  
    display: flex;
    gap: 40px;
    background: #ffffff;
    width: 215.7vh;
    height: 12vh;
    display: flex;
    align-items: center;
   justify-content: center;
   z-index: 10;
   
    
}
.contact{
    display: flex;
position: absolute;
    align-items: center;
    Right: 2%;
    font-weight: bold;
    z-index: 10;
    
}
.logo{
    display: flex;
    position: absolute;
        align-items: center;
        left: 2%;
        font-weight: bold; 
        z-index: 10;
 
}
.navbar li{
    
   position: relative;
    left: -2%;
    list-style-type: none;
    z-index: 10;

    
    
}

.logo2{
    position: absolute;
    top: 23%;
    left: 7.5%;
}
.cricle{
    width: 5.5%;
    position: absolute;
    top: 13%;

    animation:  updown 3s ease-in-out infinite ;
    
}

@keyframes updown{
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.logo3{
    position: absolute;
    top: 32%;
    left: 51%;
}

.pro{
    position: absolute;
    top: 88%;
    left: 51%;  
}

.bd{
    position: absolute;
    border-left: 2px solid #929292;
   
    height: 155vh;
    width: 25%;
    left: 7%;
    top: 20%;
}

.line{
    position: absolute;
    border-left: 2px solid #929292;
   
    height: 35vh;
    width: 25%;
    left: 45%;
    top: 10%;
    opacity: 0.2;
}

.line2{
    position: absolute;
    border-left: 2px solid #929292;
   
    height: 35vh;
    width: 25%;
    left: 54.5%;
    top: 50%;
    opacity: 0.2;
}

#hide{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;
}

@keyframes appear{
    from{
opacity: 0;
scale: 0.5;
    }
    to{
opacity: 1;
scale: 1;

    }
}

.list li span::after{
content: "";
left: 0%;
position: absolute;
height: 85.5%;
width: 100%;
border-left: 2px solid black;
background: #fff5ea;
animation: type 2s steps(9)  infinite;
}

.list li span{
    position: relative;
}

@keyframes type{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}



